
.list {
  display: inline-block;
  padding: $spacer-md;

  &, &.style--default {
    background-color: color(white);
  }

  &__title {
    @include font(avenir, black);
    @include font-size(18px);
  }

  &__items {
    list-style: none;
    padding-left: 0;
  }

  &__item {
    margin-bottom: 15px;

    a {
      @include font(avenir, bold);
      @include font-size(16px);
    }
  }
}
