<p class="hide-xs">This text is hidden on <code>xs</code> screens</p>
<p class="hide-sm hide-md hide-lg hide-xl"><em>This text is only visible on <code>xs</code> screens</em></p>
<p class="hide-sm">This text is hidden on <code>sm</code> screens</p>
<p class="hide-xs hide-md hide-lg hide-xl"><em>This text is only visible on <code>sm</code> screens</em></p>
<p class="hide-md">This text is hidden on <code>md</code> screens</p>
<p class="hide-xs hide-sm hide-lg hide-xl"><em>This text is only visible on <code>md</code> screens</em></p>
<p class="hide-lg">This text is hidden on <code>lg</code> screens</p>
<p class="hide-xs hide-sm hide-md hide-xl"><em>This text is only visible on <code>lg</code> screens</em></p>
<p class="hide-xl">This text is hidden on <code>xl</code> screens</p>
<p class="hide-xs hide-sm hide-md hide-lg"><em>This text is only visible on <code>xl</code> screens</em></p>
