$colors: (
  white: #fff,
  black: #000,
  dark-gray: #313131,
  black-two: #333,
  medium-gray: #666,
  waterloo: #838595,
  oslo-gray: #878a8f,
  greyish: #aca39a,
  border-gray: #d9d9d9,
  article-gray: #f3f3f3,
  ebb: #f4f2f1,
  light-gray: #f5f5f5,
  secondary-red-2: #b52800,
  milano-red: #c00f02,
  secondary-red: #ce0037,
  secondary-red-3: #d81e05,
  red: #da291c,
  pomegranate: #ef382a,
  orange: #ff6900,
  secondary-orange: #ffa300,
  yellow: #fcf301,
  japanese-laurel: #0a8b13,
  apple: #41ad48,
  olive: #7a9a01,
  green: #97d700,
  lime: #b5bd00,
  dark-blue: #003c6e,
  blue: #004b87,
  curious-blue: #2e94c6,
  sky-blue: #0095c8,
  turquoise: #00a9ce,
  link-blue: #428bca,
  shakespeare: #58a9d1,
  baby-blue: #d5eaf6,
  indigo: #409,
  magenta: #c6007e,
  eggplant: #aa0061
);

$color-background: #fff;
$color-foreground: #333;
