[class*='heading--'] {
  @include font(avenir, black);
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;

  em {
    @include font(handwriting);
    display: block;
    font-size: 130%;
    font-weight: normal;
    margin-bottom: -10px;
    margin-left: 2px;
    text-transform: none;
    @include mq($until: xs) {
      padding-top: 10px;
    }
  }
}

.heading--sa {
  @include font-size(30px);
  @include font-size(40px, 'md');
}

.heading--xs {
  @include font-size(16px);
  text-transform: none;
}

.heading--sm {
  @include font-size(36px);
  @include font-size(48px, 'md');
  @include font-size(60px, 'lg');
}

.heading--md {
  @include font-size(40px);
  @include font-size(50px, 'md');
  @include font-size(65px, 'lg');
}

.heading--lg {
  @include font-size(45px);
  @include font-size(50px, 'sm');
  @include font-size(70px, 'md');
  @include font-size(90px, 'lg');
}

.heading--xl {
  @include font-size(52px);
  @include font-size(70px, 'md');
  @include font-size(100px, 'lg');
}
